<%- include('head.ejs') %>

    <body>
        <h1>
            <%= livre.titre %>
        </h1>
        <p>
            <%= livre.histoire %>
        </p>
        <a href="/">Accueil</a>
        <a href="/livre">Livre</a>
        <a href="/user">Users</a>
    </body>